<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
    <h1> {{ user.first_name }} {{ user.last_name }}</h1>
    <h2> Email: {{ user.email }}</h2>
    <h3> Date of registration: {{ user.date_of_registration }}</h3>
    <ul>
        {% for post in user.get_top_ten_posts_by_user %}
            <li><a href="{% url 'posts:detail' post.id %}">{{ post.title }} - Rating: {{ post.rating }}, {{ post.published_date }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>